h1 {
  font-weight: lighter;
}

input {
  display: block;
  border: solid rgba(0, 0, 0, 0.125) 1px;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  line-height: 2.5rem;
  box-sizing: border-box;
  padding: 0.5rem;
  width: 100%;
}

.tasks {
  margin-top: 1rem;
}
