[req]
distinguished_name = req_distinguished_name
prompt = no
[req_distinguished_name]
C = DE
ST = Nordrhein-Westfalen
L = Münster
O = Fachhochschule Münster
OU = FB 9 WI
CN = WIFHM Demo CA – Intermediate

[v3_intermediate_ca]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid
basicConstraints = CA:TRUE
